
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* *{
    margin: 0px;
    padding: 0px;
} */

/* shared item */

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.display-flex{
    display:flex;
}

.shared-title{
    
    font-weight: 700;
    font-size: 3rem;
}

.dark-1{
     color: rgb(19, 19, 19);
     
 }
 .orange{
    color: rgb(255, 144, 14);
    
 }
.Dark-02{
    color:rgb(66, 66, 66);
}
.background{
        background-color: rgba( 255, 144, 14, 0.1);
    }
 .Dark-03{
    color:rgb(114, 114, 114);
 }
 .btn{
    border-radius: 8px;
    background-color: rgb(255, 144, 14);
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 20px 25px;
    border: none;
 }
 
/* header section */

/* nav style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.list-item{
    list-style: none;
    margin-right: 10px;
}
.link-name{
    text-decoration: none;
    font-size: 1.2rem;
    Font-weight: 500;
    color:rgb(66, 66, 66);

}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(19, 19, 19);
    /* text-align: center; */
}
.navbar, .banner{
    max-width: 1920px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 868px;
    margin: 0 auto;
    text-align:center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: rgb(19, 19, 19);
}
.banner-description{

}
.banner-image{
    width: 100%;
    height: 100%;
}
/* body, section-style */                /* 1st section */
.team-container{
    display: flex;
    gap: 73px;
}
.team-work{
    display: grid;
    grid-template-columns: repeat(2, 342px);
    gap: 24px;
}
.team-description-container{
    justify-content: center;
    align-items: center;
    
}
.team-description{
    max-width: 537px;
}


#darker{
    font-weight: 500;
}
/* enjoy features */                /* 2nd section */

/* some facts */                    /* 3rd section */
.proud-reavenew{
    display: grid;
    grid-template-columns: repeat(4, 241.83px);
    gap: 124px;
}
.sectors{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
}
.fact-title{
    margin-bottom: 20px;
}
.fact-description{
    width: 542px;
}
.sector-number{
    font-size: 2.28rem;
    font-weight: 600;
}
.sector-name{
    font-size: 1.25rem;
    font-weight: 600;
}








/* small device */         /* header section */

@media screen and (max-width: 576px) {
    .navbar, .nav-list{
    flex-direction:column;
}
.nav-list{
    gap: 20px;
}
   /* main, 1st section */
   .team-container{
    flex-direction: column;
   }
   .team-work{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 25px;
   }
   .team-description-container{
    margin: 10px;
   }
   /* main, 3rd section */
   .proud-reavenew{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 80px;
    gap:20px;
   }
   .fact-description{
    width: 400px;
    margin-left: 22px;
   }
   .fact-title{
    margin-left: 75px;
    margin-bottom: 30px;
   }
}

/* medium device */    /* main, 1st section */

@media screen and (min-width: 576px) and (max-width: 992px) {
      .team-container{
        flex-direction: column;
      }
      .team-work{
        margin-left: 95px;
      }

     /* main, 3rd section */
   .proud-reavenew{
    grid-template-columns: repeat(2, 1fr);
    margin-left: 130px;
    gap:20px;
   }
   
   .fact-description{
    width: 400px;
    margin-left: 270px;
    margin-bottom: 10px;
   }
   .fact-title{
    margin-left: 320px;
    margin-bottom: 20px;
    
   }  
}

